.login-container{
	height: 100%;
	width: 100%;
	padding: 50px 10px 10px;
	display: flex;
    align-items: center;
	flex-direction: column;
	gap: 50px;
	color: #091644;
}

.login-container form{
	width: 100%;
	margin: 10px 0;
	align-items: flex-start;
	gap: 10px;
}

.login-container input{
	width:100%;
	padding: 10px;
	height: 40px;
	margin: -8px auto 5px;
}

.login-container>div{
	width: 90%;
}

.login{
	width: 80%;
	padding: 10px;
	font-size: 16px;
	margin: 30px auto;
}